* {
   margin: 0; /* Метод отвечает за внешний отступ объекта.
                     Мы его обнулили для всех */
   padding: 0; /* Метод отвечает за внетренний отступ объекта.
                     Мы его обнулилидля всех. */
}

body{
    background-color: rgb(252, 108, 45);/*задает цвет странице*/
}

p{
  border: 7px solid; /*создал рамку, задал толщину, сделал её сплощной*/
  border-radius: 25px; /*закруглил углы*/
  border-color: rgb(255, 91, 41); /*цвет рамки*/

  font-size: 40px; /*Увеличили размер текста*/
  margin: 150px; /*внешний отступ*/
  padding: 50px; /*внутренний отступ*/
  background-color: rgb(252, 178, 66);/*задает цвет заднему фону*/
  color: rgb(240, 252, 98); /*задает цвет тексту*/
  text-align: center; /*задает оринтацию тексту*/
}

h1{
    text-align: center;
    color: rgb(255, 213, 0);
    font-size: 60px;
    margin: 50px;
    padding: 20px;
}

p:hover{
    scale: 1.1;
}